In [1]:
import pandas as pd
from sklearn.metrics import mean_squared_error

In [2]:
data = pd.read_csv('cars.csv')
data = data.dropna()
data

,S.No.,Name,Location,Year,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Mileage,Engine,Power,Seats,New_Price,Price
2,2,Honda Jazz V,Chennai,2011,46000,Petrol,Manual,First,18.2 kmpl,1199 CC,88.7 bhp,5.0,8.61 Lakh,4.50
7,7,Toyota Innova Crysta 2.8 GX AT 8S,Mumbai,2016,36000,Diesel,Automatic,First,11.36 kmpl,2755 CC,171.5 bhp,8.0,21 Lakh,17.50
10,10,Maruti Ciaz Zeta,Kochi,2018,25692,Petrol,Manual,First,21.56 kmpl,1462 CC,103.25 bhp,5.0,10.65 Lakh,9.95
15,15,Mitsubishi Pajero Sport 4X4,Delhi,2014,110000,Diesel,Manual,First,13.5 kmpl,2477 CC,175.56 bhp,7.0,32.01 Lakh,15.00
20,20,BMW 3 Series 320d,Kochi,2014,32982,Diesel,Automatic,First,22.69 kmpl,1995 CC,190 bhp,5.0,47.87 Lakh,18.55
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5999,5999,Tata Bolt Revotron XT,Chennai,2016,10000,Petrol,Manual,First,17.57 kmpl,1193 CC,88.7 bhp,5.0,7.77 Lakh,4.00
6002,6002,Volkswagen Vento 1.6 Highline,Mumbai,2011,38000,Petrol,Manual,First,16.09 kmpl,1598 CC,103.5 bhp,5.0,11.91 Lakh,3.25
6005,6005,Maruti Vitara Brezza VDi,Pune,2016,37208,Diesel,Manual,First,24.3 kmpl,1248 CC,88.5 bhp,5.0,9.93 Lakh,7.43
6010,6010,Honda Brio 1.2 VX MT,Delhi,2013,33746,Petrol,Manual,First,18.5 kmpl,1198 CC,86.8 bhp,5.0,6.63 Lakh,3.20
6014,6014,Maruti Swift VDI,Delhi,2014,27365,Diesel,Manual,First,28.4 kmpl,1248 CC,74 bhp,5.0,7.88 Lakh,4.75

In [3]:
transmission_encoded = pd.get_dummies(data['Transmission'])
fuel_type_encoded = pd.get_dummies(data['Fuel_Type'])
location_encoded = pd.get_dummies(data['Location'])
df_encoded = pd.concat([data, transmission_encoded, fuel_type_encoded,location_encoded], axis=1)
df_encoded.drop(['Transmission', 'Fuel_Type'], axis=1, inplace=True)
df_encoded['Mileage'] = df_encoded['Mileage'].str.replace(' kmpl', '').astype(float)
df_encoded['Engine'] = df_encoded['Engine'].str.replace(' CC', '').astype(float)
df_encoded['Power'] = df_encoded['Power'].str.replace(' bhp', '').astype(float)

In [4]:
y = df_encoded['Price'].copy()
x = df_encoded.drop(['Name','Price','New_Price', 'S.No.','Owner_Type','Location'], axis=1)
x

,Year,Kilometers_Driven,Mileage,Engine,Power,Seats,Automatic,Manual,CNG,Diesel,...,Bangalore,Chennai,Coimbatore,Delhi,Hyderabad,Jaipur,Kochi,Kolkata,Mumbai,Pune
2,2011,46000,18.20,1199.0,88.70,5.0,False,True,False,False,...,False,True,False,False,False,False,False,False,False,False
7,2016,36000,11.36,2755.0,171.50,8.0,True,False,False,True,...,False,False,False,False,False,False,False,False,True,False
10,2018,25692,21.56,1462.0,103.25,5.0,False,True,False,False,...,False,False,False,False,False,False,True,False,False,False
15,2014,110000,13.50,2477.0,175.56,7.0,False,True,False,True,...,False,False,False,True,False,False,False,False,False,False
20,2014,32982,22.69,1995.0,190.00,5.0,True,False,False,True,...,False,False,False,False,False,False,True,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5999,2016,10000,17.57,1193.0,88.70,5.0,False,True,False,False,...,False,True,False,False,False,False,False,False,False,False
6002,2011,38000,16.09,1598.0,103.50,5.0,False,True,False,False,...,False,False,False,False,False,False,False,False,True,False
6005,2016,37208,24.30,1248.0,88.50,5.0,False,True,False,True,...,False,False,False,False,False,False,False,False,False,True
6010,2013,33746,18.50,1198.0,86.80,5.0,False,True,False,False,...,False,False,False,True,False,False,False,False,False,False
6014,2014,27365,28.40,1248.0,74.00,5.0,False,True,False,True,...,False,False,False,True,False,False,False,False,False,False

In [5]:
xTrain, xTest =x[:700],x[700:]
yTrain, yTest =y[:700],y[700:]

In [6]:
from sklearn.linear_model import SGDRegressor
model = SGDRegressor()
model.fit(xTrain,yTrain)

SGDRegressor()

In [7]:
yPredicted = model.predict(xTest)
mean_squared_error(yTest,yPredicted)

1.1844700556821931e+36